.footer__column-links {
  margin-bottom: 16px;
}

.footer__column-links :nth-child(n):not(.footer__social-icon) {
  list-style-type: none;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  transition: opacity linear .4s;
}

.footer__column-links :nth-child(n) :hover {
  opacity: .6;
}